input:invalid {
    border: 2px dashed red;
  }
  
  input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }
  
  input:valid {
    border: 2px solid black;
  }


#reg_content{
    background-color: bisque;
    margin-top: 50px;
    width: 100%;

}

.col_form_reg{

    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {

    .col_form_reg{
        display: flex;
        flex-direction: row;
    }
}