{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type='text/css' rel="stylesheet" href="{{url_for('static',filename='base/css/default_style.css')}}">
    <link type='text/css' rel="stylesheet" href="{{url_for('static',filename='base/css/base.css')}}">
  
{% endblock %}
{% block body %}

    {% include "base/header.html" %}

    <div id="content">
        {% include "base/aside.html" %}
        <link type='text/css' rel="stylesheet" href="{{url_for('static',filename='base/css/main.css')}}">
        <main>
        {% block main %}{% endblock %}
        </main>
        <script type='text/javascript' src="{{url_for('static',filename='base/js/main.js')}}"></script>
    
    </div>

    {% include "base/footer.html" %}

    <script type='text/javascript' src="{{url_for('static',filename='base/js/base.js')}}"></script>

{% endblock %}