<link type='text/css' rel="stylesheet" href="{{url_for('static',filename='base/css/footer.css')}}">

<footer>
   


    <div class="footer_div" >
        <h3>Меню</h3>
        
    </div>
    <div class="footer_div" >
        <h3>Контакты</h3>
        <p>Моб: <a href="">87777777777</a></p>
        <p>Моб: <a href="">87777777777</a></p>
        <p>Моб: <a href="">87777777777</a></p>
        <p>Инстаграмм: <a href="">перейти:</a></p>
    </div>
    <div class="footer_div" >
        <h3>Наш офис</h3>
        <p>Карта: <a href="">перейти</a></p>
        <p>2ГИС: <a href="">перейти</a></p>
    </div>
    <div class="footer_div" >
        <h3>О нас</h3>
        
    </div>

</footer>




<script type='text/javascript' src="{{url_for('static',filename='base/js/footer.js')}}"></script>

