<link type='text/css' rel="stylesheet" href="{{url_for('static',filename='base/css/header.css')}}">


<header class="menu">
    <div class="menu-wrap">
        <label for="menu-checkbox">
            <i class="menu-icon"></i>
        </label>
        <img src="{{url_for('static',filename='base/img/logo2.png')}}" class="logo-img" alt="Logo">
        <input type="checkbox"  id="menu-checkbox">
        <nav>
            <ul id="menu-header">
                <li><a href="/">Главная</a></li>
                <li><a href="/about">О Нас</a></li>
                <li><a href="/mark">Магазин</a></li>
                <li><a href="/serv">Услуги</a></li>
                <li><a href="/work">Наши работы</a></li>
                <li><a href="/con">Контакты</a></li>
                <li><a href="/usef">Полезное</a></li>
                <li><a href="/sear">Поиск</a></li>
 
                
            </ul>
        </nav>
    </div>
</header>

<script type='text/javascript' src="{{url_for('static',filename='base/js/header.js')}}"></script>





