footer {
    padding: 10px;
    color: white;
    min-height: 300px;
    max-width: 100%;
    background: #2b2c2c;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    margin-left: 0px;
}

@media (min-width: 768px) {
  footer{
        margin-left: 200px;
    }
}
.footer_div{
    margin: 5px;
    padding: 5px;
    /* border:  3px ridge rgb(255, 255, 255); */
    float: left;
}


